includes:
parameters:
  level: max
  inferPrivatePropertyTypeFromConstructor: true
  checkGenericClassInNonGenericObjectType: false
  paths:
    - %currentWorkingDirectory%/src/
    - %currentWorkingDirectory%/test/
  excludes_analyse:
    - %currentWorkingDirectory%/test/Fixture/*